.reel-section {
  background: #000;
  color: white;
  padding: 30px;
  text-align: center;
}

.reel {
  margin-bottom: 40px;
}

.reel img {
  width: 120px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
